/* import de la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');
/*variables*/
:root{
    --color-fuente: #eceff7;
    --color-fondo: #343a50;
    --color-h2: #b70505;
}
body{
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    font-family: 'Roboto';
}
/*logo*/
header{
    background-color: black;
    color: white;
    text-align: center;
  
}
#logo{
    margin: 0;
    padding: 15px;
    
}
/*cuerpo*/
main{
    background-color: var(--color-fondo);
    text-align: center;
    color: var(--color-fuente);
}
#titulo{
    margin: 0;
    padding: 15px;
    text-shadow: 6px 6px 6px black;
}
img{
    width: 100%;
}
h2{
    margin: 0;
    padding-bottom: 15px;
    color: var(--color-h2);
    text-shadow: 6px 6px 6px black;
}

/*boton de contacto*/
button{
    background-color: white;
    color: black;
    height: 2em;
    width: 30%;
    font-size: 1.5em;
    font-family: 'Roboto';
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 15px;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
/*pie de pagina*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    height: 4.5em;
}
footer p,a{
    margin: 0;
}
#redes{
    padding-top: 25px;
    padding-bottom: 10px;
}
#redes a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
}
#redes a:hover{
    color: blue;
}
#pincha a{
    color: white;
    margin-bottom: 25px;
}
#pincha a:hover{
    color: blue;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        font-size: 1.2em; 
    }

    main {
        width: 100%; 
        margin: 0 auto; 
    }

    button {
        width: 80%;
    }
}